<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
$customer = $block->getCustomerData();
$customer_fname = "";
$customer_lname = "";
$customer_email = "";
if($customer){
    $customer_fname = $customer->getData('firstname');
    $customer_lname = $customer->getData('lastname');
    $customer_email = $customer->getData('email');
}
if($block->isModuleEnabled('Ziffity_Feedback'))
{
?>
<div class="widget block block-orders-returns">
    <div class="block-title">
        <strong role="heading" aria-level="2"><?= /* @escapeNotVerified */ __('Customer Feedback Information') ?></strong>
    </div>
    <div class="block-content">
        <form id="oar-widget-orders-and-returns-form" data-mage-init='{"validation": {}}' action="<?= /* @escapeNotVerified */ $block->getActionUrl() ?>" method="post"
                class="form form-orders-search" name="guest_post">
            <fieldset class="fieldset">
                <div class="field firstname required">
                    <label class="label"><span><?= /* @escapeNotVerified */ __('First Name') ?></span></label>
                    <div class="control">
                        <input type="text" class="input-text" name="customer_fname" autocomplete="off" value="<?php echo $customer_fname;?>" data-validate="{required:true, 'validate-alpha-with-spaces':true}" data-msg-required="Please fill your first name.">
                    </div>
                </div>
                <div class="field lastname required">
                    <label class="label"><span><?= /* @escapeNotVerified */ __('Last Name') ?></span></label>
                    <div class="control">
                        <input type="text" class="input-text" name="customer_lname" autocomplete="off" value="<?php echo $customer_lname;?>" data-validate="{required:true, 'validate-alpha-with-spaces':true}" data-msg-required="Please fill your last name.">
                    </div>
                </div>
                <div class="field email required">
                    <label class="label"><span><?= /* @escapeNotVerified */ __('Email') ?></span></label>
                    <div class="control">
                        <input type="email" class="input-text" name="customer_email" autocomplete="off" value="<?php echo $customer_email;?>" data-validate="{required:true, 'validate-email':true}" data-msg-required="Please fill your email.">
                    </div>
                </div>
                <div class="field comment required">
                    <label class="label"><span><?= /* @escapeNotVerified */ __('Comments') ?></span></label>
                    <div class="control">
                        <textarea data-validate="{required:true}" name="customer_comment" data-msg-required="Please fill your comments."></textarea>
                    </div>
                </div>                
            </fieldset>
            <div class="actions-toolbar">
                <div class="primary">
                    <button type="submit" class="action primary search">
                        <span><?= /* @escapeNotVerified */ __('Submit') ?></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<?php } ?>